*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*DESCKTOP*/
.body{
    background: rgb(228, 219, 219);
}
h1{
    font-family: cursive;
}
.carrito {
  background: rgb(66, 66, 187);
    border-top: 1px solid black;
    padding-top: 1rem;
    position: fixed;
    left: 50%;
    bottom:-100%;
    z-index: 1;
    transition: all 0.25s ease-in;
    width: 40%;
    height: 80%;
    -webkit-box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);
    box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);
    padding: 3rem 0;
    overflow: scroll;
    overflow-x: hidden;
}

#carrito.activo{
    bottom: 0;
}
.btn-carrito{
    position: relative;
    top: 0px; left: 80%;
    bottom: 1rem;
    right: 1rem;
    padding: .5rem 2rem;
    background-color: wheat;
    -webkit-box-shadow: 0px 6px 32px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 32px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 32px -10px rgba(0,0,0,0.75);
    color: black;
    text-decoration: none;
}
.btn-carrito.activo{
background-color: rgb(13, 164, 164);
    color: white;
}
.card{
    margin-top: 10px;
}
.cart-quantity {
    color: white;
    background-color: red;
    position: absolute;
    border: solid 2px red;
    border-radius: 15px;
    font-weight: bolder;
    
        
}
.total {
    text-align: center;
    margin: 2em 0 2em 0;
  /*   display: none; */
  }
  
  .cart-total {
    color: white;
  }
  
  .total-price {
    color: white;
    font-size: 2rem;
    display: block;
  }
  footer{
    background: white;
    font-family: cursive;
    font-size: 45px;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 5px;

  }
  .borrar-producto{
  
  border-radius: 80%;
  
  color: rgb(244, 10, 10);
  
  }
  .navbar-brand .fa-facebook-f{
    font-size: 30px;
    
    background: rgb(31, 56, 199);
    border:solid 1px rgb(31, 56, 199);
    border-radius: 50%;
}
.navbar-brand .fa-instagram{
    font-size: 30px;
    background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf);
        border-radius: 30%;
        
}
.container .icono{
    background: black;
    border: solid green 2px;
    border-radius: 60%;
    font-family: 'Nunito Sans', sans-serif;
    margin-right: 30px;
   
}
.bi-whatsapp{
    border-radius: 60%;
}

.footer{
    font-family: sans-serif;
    text-align: center;
    color: bisque;
    background:black;
    height: auto;
    padding-bottom: 0;
    font-size: 15px;
    

}
  

  /*TABLET*/

  @media  (min-width: 577px) and (max-width: 779px){
    .body{
        background: rgb(222, 22, 22);
    }
    .carrito {
  background: rgb(66, 66, 187);
    border-top: 1px solid black;
    padding-top: 1rem;
    position: fixed;
    left: 40%;
    bottom:-100%;
    z-index: 1;
    transition: all 0.25s ease-in;
    width: 50%;
    height: 90%;
    -webkit-box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);
    box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);
    padding: 3rem 0;
    overflow: scroll;
    overflow-x: hidden;
}
   
.borrar-producto{
  background: red;
  border-radius: 60%;
  width: 60px;
  color: aliceblue;
}
    
    /*
    .carrito .table{
        width:80%;
        background: white;
        margin-inline: 20px;
        height: 40px;
        
        
    
    }*/
    
    /*
    .card{
        margin:40px,30px, 40px,30px;
        
    }*/
    
  }
  
  /*smartphone*/
  @media (max-width:576px){
    .card{
      
      margin-left: 15px;
      width: 90%;
    }
    .submenu{
      margin-right: 40px;
    }
    #carrito{
    background: rgb(66, 66, 187);
    border-top: 1px solid black;
    padding-top: 1rem;
    position: fixed;
    left: 10%;
    bottom:-100%;
    z-index: 1;
    transition: all 0.25s ease-in;
    width: 80%;
    height: 85%;
    -webkit-box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);
    box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);
    padding: 3rem 0;
    overflow: scroll;
    overflow-x: hidden;
}
.borrar-producto{
  background: red;
  border-radius: 60%;
  width: 60px;
  color: aliceblue;
}
    }
  

  
 